html { 
    font-size:80%;
      background: url(/static/images/rajasthan.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
      -moz-background-size: cover;
        -o-background-size: cover;
          background-size: cover;
          }

a {color: white;}

.shaded-text {
background-color: rgba(0,0,0,0.5);
padding: 10px; 
color: white;}
