<html>
	<head>

	  <!-- Basic Page Needs
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta charset="utf-8">
	  <title>eMitra-Gyaan</title>
	  <meta name="description" content="e mitra gyaan">
	  <meta name="author" content="Arjoonn Sharma">
      <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>


	  <!-- Mobile Specific Metas
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <!-- FONT
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

	  <!-- CSS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link rel="stylesheet" href="static/css/normalize.css">
	  <link rel="stylesheet" href="static/css/skeleton.css">
	  <link rel="stylesheet" href="static/css/home.css">

	  <!-- Scripts
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='twelve columns'>
                    <b>e-Mitra ज्ञान</b>  - - [
                    <a href='/'>Home</a> ] - [
                    <a href='/about'>About</a> ] - [ 
                    <a href='/services'>Services</a> ] - [ 
                    <a href='/jobs'>Job Opportunities</a> ] - [ 
                    <a href='/analytics'>eMitra Analytics</a> ] - [ 
                    <a href='/contact'>Contact</a> ] 
                </div>
            </div>
            <hr>
            <div class='container'>
                <div class='row'>
                    <p class='shaded-text'>
                    e-Mitra ज्ञान  is an effort to bring the advantages of
                    <b>Artificial Intelligence</b> to the masses of Rajasthan
                    via the e-Mitra portal. It is designed to allow anyone to
                    leverage Artificial Intelligence for two kinds of tasks:
                    </p>
                    <ul class='shaded-text'>
                        <li><b>Classification</b>: Tasks which require putting things
                            in one or many classes. For example: Does this
                            photo contain a human face?(Yes and No being the
                        classes)</li>
                        <li><b>Regression</b>: Tasks which require producing a number.
                            For example: How many grains of wheat are there in
                            this photo?</li>
                    </ul>
                </div>
                <div class='row'>
                    <p class='shaded-text' >
                    The service provides two opportunities to the general populace. First there is the ability to train systems to recognize things for you. This has multiple applications like answering questions such as:
                    </p>
                    <ul class='shaded-text'>
                        <li>How much Iron is there in this picture of a soil sample?</li>
                        <li>Which pest is present in this photo?</li>
                        <li>What percent of this crop might die in the future?</li>
                    </ul>
                    <p class='shaded-text' >
                    In order to answer these questions an AI is trained on historic example. To generate data for this, people are employed on a contractual basis to correctly label the data currently available. This provides employment opportunity to the population.
                    </p>
                </div>

            </div>
        </div>
    </body>
</html>
