<html>
	<head>

	  <!-- Basic Page Needs
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta charset="utf-8">
	  <title>eMitra-Gyaan</title>
	  <meta name="description" content="e mitra gyaan">
	  <meta name="author" content="Arjoonn Sharma">
      <link rel="icon" href="/static/images/favicon.png" type="image/x-icon"/>

	  <!-- Mobile Specific Metas
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <!-- FONT
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

	  <!-- CSS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link rel="stylesheet" href="static/css/normalize.css">
	  <link rel="stylesheet" href="static/css/skeleton.css">
	  <link rel="stylesheet" href="static/css/home.css">

	  <!-- Scripts
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='twelve columns'>
                    <b>e-Mitra ज्ञान</b>  - - [
                    <a href='/'>Home</a> ] - [
                    <a href='/about'>About</a> ] - [
                    <a href='/services'>Services</a> ] - [ 
                    <a href='/jobs'>Job Opportunities</a> ] - [ 
                    <a href='/analytics'>eMitra Analytics</a> ] - [ 
                    <a href='/contact'>Contact</a> ] 
                </div>
            </div>
            <hr>
            <h4>e-Mitra Analytics</h4>
            <div class='row' style='background-color: rgba(0,0,0,0.5); padding: 10px; color: white'>
                <div class='row'>
                    <div class='eight columns'>
                        <img class='u-max-full-width' src="data:image/png;base64,{{amounts}}" alt="Amount of bills paid via e-Mitra"/>
                    </div>
                    <div class='four columns'>
                        We can see that Bharatpur has the most expensive bill amounts on average.
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class='eight columns'>
                        <img class='u-max-full-width' src="data:image/png;base64,{{usage}}" alt="Amount of bills paid via e-Mitra"/>
                    </div>
                    <div class='four columns'>
                        Contrary to expectations we see that Jaipur is the district which leads in e-Mitra usage.
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
