<html>
	<head>

	  <!-- Basic Page Needs
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta charset="utf-8">
	  <title>eMitra-Gyaan</title>
	  <meta name="description" content="e mitra gyaan">
	  <meta name="author" content="Arjoonn Sharma">

	  <!-- Mobile Specific Metas
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <!-- FONT
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

	  <!-- CSS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <link rel="stylesheet" href="static/css/normalize.css">
	  <link rel="stylesheet" href="static/css/skeleton.css">

	  <!-- Scripts
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='eight columns'>
                    <b>e-Mitra ज्ञान</b>  - - [
                    <a href='/about'>About</a> ] - [
                    <a href='/services'>Services</a> ] - [ 
                    <a href='/jobs'>Job Opportunities</a> ] - [ 
                    <a href='/contact'>Contact</a> ] 
                </div>
            </div>
            <hr>
            <div class='container'>
                <p>
                e-Mitra ज्ञान  is an effort to bring the advantages of <b>Machine Learning</b> and <b>Artificial Intelligence</b> to the masses of Rajasthan.
                </p>

            </div>
        </div>
    </body>
</html>
